body {
  font-family: 'Courier New', Courier, monospace;
  background-color: pink;
}
#container {
  width:600px;
  height:600px;
  display:flex;
  flex-wrap:wrap;
}
.pixel{
  background-color: rgb(255, 255, 255);

}
.pixel:hover {
  background-color: rgb(226, 226, 226);
}