body {
  font-family: 'Courier New', Courier, monospace;
  background-color: pink;
  -user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#content-div {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#title {
  margin: 5px 0px;
}
#container {
  width:600px;
  height:600px;
  display:flex;
  flex-wrap:wrap;
}
.pixel{
  background-color: rgb(255, 255, 255);

}
.pixel:hover {
  background-color: rgb(226, 226, 226);
}